@using MvcStok.Models.Entity;
@model  List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Müşteriler", FormMethod.Get))
{

    <p>
        <b>ARANACAK MÜŞTERİ ADI: </b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-bordered">
    <tr>
        <th> MÜŞTERİ ID </th>

        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>ALERT</th>

    </tr>

    <tbody>
        @foreach (var mstrlr in Model)
        {
            <tr>
                <th>
                    @mstrlr.MUSTERIID
                </th>
                <td>
                    @mstrlr.MUSTERIAD
                </td>
                <td>
                    @mstrlr.MUSTERISOYAD
                </td>
                <td><a href="/Müşteriler/SİL/@mstrlr.MUSTERIID" class="btn btn-danger">SİL</a> </td>
                <td><a href="/Müşteriler/MusteriGetir/@mstrlr.MUSTERIID" class="btn btn-success">GÜNCELLE</a> </td>
                <td>@Html.ActionLink("SİL BUTONU", "SİL", new { id = mstrlr.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekren Silmek İstiyor Musunuz')" })</td>
            </tr>
        }

    </tbody>
</table>
<a href="/Müşteriler/YeniMusteri/" class="btn btn-primary ">YENİ MÜŞERİ EKLE</a>